*{
  margin:0;
  padding: 0;
}
/* body{
  background-color: purple;
} */
.flex-container{
  /* margin: 0; */
  display: flex;
  /* flex-wrap: wrap;   */
  flex-direction: column;

}
/* Developer pic section */

.devPic{
  flex: 26%;
  background-color: rgb(168, 165, 165);
  /* display: block; */
  /* width: 20vw; */
  /* height: auto; */
  
  /* flex: 20%;
  display: block;
  width:20vw;
  height:auto;
  background-color: rgb(168, 165, 165);
  margin: 0; */
}
.devPic img{
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  /* justify-content: space-around; */
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  
}
.devPic button{
  display: block;
  margin-top: 17%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 37px;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(36, 222, 246);
}
.devPic a{
      /* margin-top: 50%; */
  /* margin-left: 10%; */
  color: black;
  text-decoration: none;
}
.devPic p{
  margin-top: auto;
  margin-left: 10%;
}

/* End Developer pic Section */

/* Developer Info Css */

.info-container{
  flex: 76%;
  /* margin-left: 5%; */
  /* width: 80vw; */
  /* width: auto; */
  background-color: rgb(229, 245, 11);
}

.devName{
  margin-left: 5%;
}

.devName h1{
  font-size: 3vw;
  justify-content: center;
}
.devName p{
  font-size: 2vw;
}
/* 
@media(max-width:600px){
  .devEdu{
      h1
  }
} */

.devEdu{
  margin-top: 2%;
  margin-left: 5%;
}
.devEdu h1{
  font-size: 3vw;
}
.devEdu ul{
  list-style: none;
}
.devEdu li{
  padding-top: 5px;
  font-size: 2vw;
}

.devAchiev{
  margin-top: 2%;
  margin-left: 5%;
}
.devAchiev h1{
  font-size: 3vw;
}

.devAchiev ul{
  list-style: none;
}
.devAchiev li{
  padding-top: 5px;
  font-size: 2vw;
}
.devSkill{
  margin-top: 2%;
  margin-left: 5%;
}
.devSkill h1{
  font-size: 3vw;
}
.skill-card{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.card{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: fit-content;
  padding: 5px;
}
.card p{
  font-size: 2vw;
}

.devProject{
  margin-top: 2%;
  margin-left: 5%;
}
.devProject h1{
  font-size: 3vw;
}
.project-card{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction:column ;
  justify-content: space-between;
}
.devHobbies{
  margin-top: 2%;
  margin-left: 5%;
}
.devHobbies h1{
  font-size: 3vw;
}
.hobbies-card{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  margin-bottom: 0;
  font-size: 1.5vw;
  background-color: rgb(36, 222, 246);
}
@media(min-width:600px){
  .flex-container{
      flex-direction: row;
  }
}
/* @media(max-width:600px){
  .devPic{
      width:100vw;
  }
} */